# STM32CubeIDE
/.settings/
/Assets/Docs/
/Drivers/
/Debug/
/Release/
/firmware/SNAKE_STM32F3/Debug/
/firmware/SNAKE_STM32F3/Drivers/
/firmware/SNAKE_STM32F3/Release/
/firmware/SNAKE_STM32F3/.metadata/
*.launch
Doxyfile
# Libraries with undefined licenses


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/latex/
# System
.DS_Store